@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kalnia+Glaze:wght@700&family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalnia+Glaze:wght@700&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalnia+Glaze:wght@700&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalnia+Glaze:wght@700&family=Pacifico&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalam:wght@300;400;700&family=Kalnia+Glaze:wght@700&family=Pacifico&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Germania+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalam:wght@300;400;700&family=Kalnia+Glaze:wght@700&family=Margarine&family=Pacifico&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.go-back{
  margin-top: 20px;
}
.srv-dtl-btn{
    background-image: linear-gradient(#8debeb,#8abcee);
    color:darkmagenta ;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    /* width: 100px; */
    margin:10px;
    margin-left: 20px;
  }
  
  #nav-all a.active{
    background: linear-gradient(90deg,#f5ff6d,#57e09e);
    border-radius: 5px;
    text-decoration: underline;
    color:white
  }

  #glob-nav a.active{
    /* background: linear-gradient(90deg,#f5ff6d,#57e09e); */
    border-radius: 5px;
    text-decoration: underline;
    color:rgb(30, 3, 81);
    font-weight: bold;
    font-size: 25px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-style: italic
  }

  #glob-nav-font{
    font-family: "Pacifico", cursive;
    font-weight: bold;
    font-size: 30px;
    color : brown;
    background: linear-gradient(90deg,#cbec69,#56c8eb);

  }

  #nav-font{
    font-family: "Kalam", cursive;
    font-size: 20px;
    font-weight: bold;
  }

  #cart-font{
    font-family: "Playwrite DK Loopet", cursive;
    font-size: 15px;
    font-weight: bold;
  }

  #serv-nav-font{
    font-family: "Kalam", cursive;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
  }

  #glob-nav-div{
    background: linear-gradient(90deg,#57e09e,#56c8eb);
  }

  .row{
    display : flex;
    flex-wrap : wrap;
  }

 #login-hdr{
  background: linear-gradient(90deg,#4b75d0,#be72d8,#95598238);
  color: white;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
 }

 #reg-hdr{
  background: linear-gradient(90deg,#de4760,#be72d8,#95598238);
  color: white;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
 }

 #home-hdr{
  background: linear-gradient(90deg,darkred,#b0e839,#23140338);
  color: white;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
 }

 #home_cont{
  font-family: "Pacifico", cursive;
  font-size: 25px;
 }

 .home-icons{
  display : flex;
  flex-wrap : wrap;
  gap : 50px
 }

.forgot-div{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    width:400px;
    margin-left: 10px;
    margin-top: 50px;
    padding-top: 10px;
    border: 3px solid black;
    text-align: center;
    font-weight: 900;
    font-size : 25px;
    color : darkred;
    background-image: linear-gradient(#e7e7f4, #9fca9e);
}

.recover-div{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    width:400px;
    margin-left: 10px;
    margin-top: 50px;
    padding-top: 10px;
    border: 3px solid black;
    text-align: center;
    font-weight: 900;
    font-size : 25px;
    color : darkred;
    background-image: linear-gradient(#f47d99, #edeb6d);
}

.activate-div{
  font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    width:400px;
    margin-left: 10px;
    margin-top: 50px;
    padding-top: 10px;
    border: 3px solid black;
    text-align: center;
    font-weight: 900;
    font-size : 25px;
    color : darkred;
    background-image: linear-gradient(#bbc2e3, #3dd852);
}

#activate-btn{
  margin-bottom: 10px;
  margin-left: 10px;
}
 
#common-txt{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#timeslot{
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px;
}

.line{
  width: 90%;
  margin-left: 25px;
}

.main{
  margin : 50px;
  background-color: azure;
  width: 80%;
  border-radius: 50px;
 }

#cart-row{
  width: 90%;
  display : flex;
  flex-wrap : wrap;
  border-radius: 5px;
  padding-left: 30px;
  border : 1px grey solid;
  box-shadow: 0px 3px 0px 0px;
  margin : 5px;
  margin-bottom : 10px
}

#tot-price{
  width: 90%;
  display : flex;
  flex-wrap : wrap;
  border-radius: 5px;
  padding-left: 30px;
}

#cart-col{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control{
  height: 30px;
}